@import 'nib'

body
  background-color : inherit

#documentviewer
  position:absolute
  background-color : #404040
  width:100%
  top:0
  bottom:2em
  transition: width 0.5s ease
  z-index:1

#htmlviewer
  width:100%
  height:100%

#bottom
  padding: 0.5em 1em
  box-sizing:border-box
  position:absolute
  background-color: #474747
  background-image: linear-gradient(hsla(0,0%,27%,.95),hsla(0,0%,32%,.99))
  box-shadow: inset -1px 0 0 hsla(0,0%,100%,.08), inset 0 -1px 1px hsla(0,0%,0%,.15), inset 0 1px 0 hsla(0,0%,100%,.05), 0 -1px 0 hsla(0,0%,0%,.15), 0 -1px 1px hsla(0,0%,0%,.1)
  bottom:0
  z-index:1011
  width:100%

.textLayer
  overflow:visible

span.concept
  position: relative
  border: solid blue 1px
  white-space: pre
  cursor: pointer

span.concept.c1, .c1
  border : solid green 1px

span.concept.c2, .c2
  border : solid red 1px

span.concept.c3, .c3
  border : solid orange 1px

span.concept.c4, .c4
  border : solid blue 1px

span.concept.c5, .c5
  border : solid magenta 1px

span.concept.c6, .c6
  border : solid cyan 1px

.popup
  white-space : normal

.popup img.image
  max-width:245px
  display:block

.scroller
  width:100%
  white-space:nowrap
  overflow-x:scroll
  overflow-y:hidden

.scroller .item
  white-space:normal
  vertical-align:top
  max-width:250px

.scroller .item img
  max-height:250px

.concept:hover .visible-onhover
  display:block

div.description
  margin: 5pt 0pt

.mp
  width:400px !important
  max-width:400px !important
  bottom:100% !important
  // left:-175px !important
  left:-50px !important
  top:auto !important

.mp:before
  left: 60px !important

.ng-hide
  display: none !important

.popup .content
  font-size: 10pt
  line-height: 1
